# Dependency directory
node_modules
bower_components

# Ignore test-related files
/coverage.data
/coverage/

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore package-lock.json
package-lock.json